<div class="login">
	<div class="container">
		<div class="form">

      <h1>Ingresar</h1>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email, :placeholder => "Email" %>
        <%= f.password_field :password, :placeholder => "Contraseña" %>
        <%= f.submit "Ingresar", class: "btn-submit" %>
      <% end %>

    </div>
	</div>
</div>
