
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RED-ING</title>

</head>
<body>

<div class="jumbotron text-center">
  <h1>Bienvenido a REDDING</h1>
  <p>Esto no es reddit, pero casi</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <center>
        <img src="http://www.animatedimages.org/data/media/1538/animated-8-bit-super-mario-image-0006.gif">
        </center>
    </div>
    <div class="col-sm-4">
      <center><img src="https://i.redd.it/4qezgmi0x87z.png" height="320" width="320"></img></center>
    </div>
    <div class="col-sm-4">
      <center>
      <img src="http://www.animatedimages.org/data/media/1538/animated-8-bit-super-mario-image-0006.gif">
    </center>
    </div>
  </div>
</div>

</body>
</html>
