
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RED-ING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Bienvenido a REDDING</h1>
  <p>Esto no es reddit, pero casi</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <center>
        <img src="http://www.animatedimages.org/data/media/1538/animated-8-bit-super-mario-image-0006.gif">
        </center>
    </div>
    <div class="col-sm-4">
      <center><img src="https://i.redd.it/4qezgmi0x87z.png" height="420" width="420"></img></center>
    </div>
    <div class="col-sm-4">
      <center>
      <img src="http://www.animatedimages.org/data/media/1538/animated-8-bit-super-mario-image-0006.gif">
    </center>
    </div>
  </div>
</div>

</body>
</html>
